/* Font */
@font-face {
  font-family: "Beef'd";
  src: url("/fonts/Beef'd.ttf");
}

html {
  height: 100%;
  color: gray;
}

body {
  height:100%;
}

.header {
  font-family: "Beff'd", ChicagoFLF, Krungthep, Silom, monospace;
  font-size: 250%;
  text-align: center;
}

.side {
  color: white;
  height:100%;
  width:50%;
}

#hack-side {
  float:left;
  background-color: #82EAFF;
}

#make-side {
  float:right;
  background-color: #FFA375;
}

.text {
  font-family: CamphorStd-Regular;
  text-align: center;
}
